@use "../variables" as v;

// Только общие стили для секции контактов
.contacts {
  .grid {
    justify-content: center;
  }

  .section__subtitle {
    max-width: v.$contacts-subtitle-max-width;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: v.$contacts-margin;
  }

  .note {
    margin-top: v.$contacts-margin;
  }
}
