@use "../variables" as v;
@use "../mixins" as m;

.portfolio-list {
  list-style: none;
  padding-left: v.$portfolio-list-padding;
  margin: v.$portfolio-list-margin;
  text-align: left;

  li {
    margin-bottom: v.$portfolio-item-margin;
    position: relative;
    padding-left: v.$portfolio-bullet-padding;

    &::before {
      content: "✓";
      position: absolute;
      left: 0;
      color: var(--accent);
    }
  }
}
