@use "../variables" as v;
@use "../mixins" as m;

.footer {
  text-align: center;
  padding: v.$footer-padding;
  opacity: 0.6;
  font-size: v.$footer-font-size;
  margin-top: v.$section-gap;

  @include m.mobile {
    padding: v.$footer-padding-mobile;
    font-size: v.$footer-font-size-mobile;
  }
}
